.red{
    background-color: red;
}

.brown{
    background-color: #4F3424;
}

.orange{
    background-color: orange;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}

.violet{
    background-color: purple;
}

.gray{
    background-color: gray;
}

.white{
    background-color: white;
}

.black{
    background-color: black;
}

.gold{
    background-color: #D4AF37;
}

.silver{
    background-color: silver;
}

.default{
    background-color: #D9B377;
}