*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Lato', sans-serif;
    color: white;
}

html{
    height: 100%;
    
}

body{    
    height: 100%;
    background-color: #15141A;
}

h1{
    text-align: center;
    padding: 20px;
    font-size: 3rem;
}

.selector{
    display: flex;
    justify-content: center;
}

select{
    background-color: #23222B;
    padding: 10px 15px;
    border-radius: 3px;    
    font-size: 1.25rem;
}

.container{
    width: 100%;
    padding-top: 10px;
}

.grid-container{
    display: grid;
    grid-template: 
        "resistencia"
        "selects";
}

#resistencia-value{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin: 30px 0;
}

/*
RESISTENCIA
*/
.resistencia{
    grid-area: resistencia;
    display: flex;
    align-items: center;
    flex-direction: column;    
    width: 100%;
    padding: 5px;
}

.resistencia-dibujo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.resistencia-elemento{
    height: 80px;
    width: 20px;
    box-shadow: rgba(255, 255, 255, 0.16) 0px 1px 4px; 
}

.orilla{
    background-color: #D9B377;
    width: 30px;
    height: 90px;
    border-radius: 7px;
}

.separador{
    background-color: #D9B377;
    width: 10px;
    height: 80px;
}

.cable{
    background-color: silver;
    height: 15px;
    width: 30px;
}

/*
SELECTS
*/
.selects{
    grid-area: selects;
    display: grid;
}

.select-container{
    margin: 5px;
    display: grid;
    gap: 10px;
    grid-template-columns: 140px auto;
}

.select-label{
    margin: 10px;
    font-size: 1.25rem;
    font-weight: 700;
}

.options{   
    display: flex;
    height: 0;
    overflow: hidden;
    flex-direction: column;
    
}

.options.active{
    height: max-content;
}

.option-title{
    font-size: 1.25rem;
}

.option{    
    position: relative;    
    padding: 5px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all 0.2s ease;
    cursor: pointer;
}

.option i{
    position: absolute;
    right: 10px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.25);
    transition: all 0.2s ease;    
}

.select:hover i{
    color: rgba(255, 255, 255, 0.75);
}

.selected{
    background-color: #23222B;
    border-radius: 3px;
}

.option:hover{
    background-color: #23222B;
}

.option-color{
    width: 60px;
    height: 30px;
    border-radius: 8px;
}

.option-value{
    font-size: 1rem;
}

.option-item{
    margin: 0 10px;
}

.resistencia-container{
    background-color: #23222B;
    border-radius: 5px;    
    width: 100%;
}

@media (min-width: 768px){
    .selects{
        width: 500px;
        margin: 0 auto;
    }

    .resistencia{
        width: 500px;
        margin: 0 auto;
    }
}

@media (min-width: 992px){
    

    .grid-container{
        max-width: 1200px;
        margin: 0 auto;
        grid-template: 
            "resistencia selects";
    }

    .container{
        padding-top: 30px;
    }
}