*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;    
    border: 0;
    font-family: 'Lato', sans-serif;
}

body{
    height: 100vh;
}

.content{
    height: 100%;
    width: 100%;
}



.select-container{
    display: flex;

    justify-content: center;

    margin: 10px;    

    z-index: 0;
    width: 100%;
}

.select-label{
    height: inherit;
    margin: 10px;
    width: 30%;
    max-width: 200px;
}

.selects{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.select{
    width: 50%;
    max-width: 300px;    
}

.options{   
    width: 100%; 
    max-width: 300px;
    display: flex;
    height: 0;
    overflow: hidden;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;  

    background-color: white;
    
}

.options.active{
    height: max-content;
}

.option{    
    position: relative;
    z-index: 0;
    height: 50px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all 0.2s ease;
    cursor: pointer;
}

.option i{
    position: absolute;
    right: 10px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.25);
    transition: all 0.2s ease;    
}

.select:hover i{
    color: rgba(0, 0, 0, 0.5);
}

.option:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;    
}

.option-color{
    width: 50px;
    height: 30px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.option-value{
    font-size: small;
}

.option-item{
    margin: 0 10px;
}

.red{
    background-color: red;
}

.brown{
    background-color: #4F3424;
}

.orange{
    background-color: orange;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}

.violet{
    background-color: purple;
}

.gray{
    background-color: gray;
}

.white{
    background-color: white;
}

.black{
    background-color: black;
}

.gold{
    background-color: #D4AF37;
}

.silver{
    background-color: silver;
}

.default{
    background-color: #D9B377;
}

#resistencia-value{
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
}

.resistencia{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 40%;    
    width: 100%;
}

.resistencia-dibujo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.resistencia-elemento{
    height: 70px;
    width: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; 
}

.orilla{
    background-color: #D9B377;
    width: 30px;
    height: 80px;
    border-radius: 5px;
}

.separador{
    background-color: #D9B377;
    width: 10px;
    height: 70px;
}

.cable{
    background-color: silver;
    height: 15px;
    width: 20px;
}

@media (min-width: 800px) {
    .content{
        display: grid;  
        grid-template-columns: 50% 50%;     
        
        max-width: 1000px;
        margin: 0 auto;
        padding-top: 50px;
    }

    .resistencia{
        height: 400px;
    }
}